<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Dining Hall Hours</h1>
        <button class="button button-clear button-assertive" ng-click="closeModal()">
            Close
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Atwater
            </div>
            <div class="item">
                <strong>Brunch</strong> &nbsp &nbsp 7:00 - 14:00
                <br>
                <strong>Dinner</strong> &nbsp &nbsp 16:00 - 20:00
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Proctor
            </div>
            <div class="item">
                <strong>Brunch</strong> &nbsp &nbsp 7:00 - 14:00
                <br>
                <strong>Dinner</strong> &nbsp &nbsp 16:00 - 20:00
            </div>
        </div>


        <div class="card">
            <div class="item item-divider">
                Ross
            </div>
            <div class="item">
                <strong>Brunch</strong> &nbsp &nbsp 7:00 - 14:00
                <br>
                <strong>Dinner</strong> &nbsp &nbsp 16:00 - 20:00
            </div>
        </div>


    </ion-content>
</ion-modal-view>

